{% extends 'base.html.twig' %}

{% block body %}

	{% for content in contents %}	
		<div class="myContainer">
			<h3>{{content.title}}</h3>
			<div class="d-inline-block">
				<span class="about-content">{{content.content}}</span>
				<img src="/images/{{content.image}}">
			</div>		
		</div>
	{% endfor %}
	
{% endblock %}

{% block javascripts %}
	<script type="text/javascript">
		$( document ).ready(function() {
			$('a:contains("About")').parent().css({'color': '#000000', 'background-color': '#00769e'});
		});
	</script>
{% endblock %}